<app-top-navigation [sidenav]="sidenav" (sectionSelected)="onSectionSelected($event)">
</app-top-navigation>

<mat-drawer-container hasBackdrop="false" autosize class="sidenav-container">
  <mat-drawer mode="side" opened #sidenav>
    <mat-list>
      <mat-list-item style="height: 180px; text-align: center;">
        <img ngSrc="/logo.jpg" alt="" height="180" width="180" priority>
      </mat-list-item>
      <mat-list-item style="text-align: center;">
        <h3>
          Punturin Senior High School
        </h3>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      @for (link of sidenavLinks; track link.title) {
        @if (link.userRoles?.includes(this.role)) {
          <a mat-list-item (click)="this.navigated = link.title">
            <mat-icon matListItemIcon class="material-symbols-rounded">
              {{ link.icon }}
            </mat-icon>
            <span matListItemLine>
            {{ link.title }}
            </span>
          </a>
        }
      }
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    @if (this.navigated == NavLinks.DASHBOARD && this.role == Roles.ADMIN) {
      <app-admin-dashboard></app-admin-dashboard>
    } @else if (this.navigated == NavLinks.TEACHER_DASHBOARD && this.role == Roles.TEACHER) {
      <app-teacher-dashboard [section]="this.sectionSelected"></app-teacher-dashboard>
    } @else if (this.navigated == NavLinks.TEACHER_STUDENTS && this.role == Roles.TEACHER) {
      <app-teacher-students [section]="this.sectionSelected"></app-teacher-students>
    } @else if (this.navigated == NavLinks.TEACHER_SECTION && this.role == Roles.TEACHER) {
      <app-teacher-section [section]="this.sectionSelected"></app-teacher-section>
    } @else if (this.navigated == NavLinks.ANNOUNCEMENTS) {
      <app-announcements></app-announcements>
    } @else if (this.navigated == NavLinks.STUDENTS && this.role == Roles.ADMIN) {
      <app-students></app-students>
    } @else if (this.navigated == NavLinks.SECTIONS && this.role == Roles.ADMIN) {
      <app-sections></app-sections>
    } @else if (this.navigated == NavLinks.TEACHERS && this.role == Roles.ADMIN) {
      <app-admin-teachers></app-admin-teachers>
    } @else if (this.navigated == NavLinks.STRANDS && this.role == Roles.ADMIN) {
      <app-admin-strands></app-admin-strands>
    }
  </mat-drawer-content>
</mat-drawer-container>
