<mat-grid-list cols="8" gutterSize="36px" rowHeight="1:1">
  <mat-grid-tile colspan="2" class="mat-elevation-z3">
    <mat-card class="h-100 w-100">
      <mat-card-header class="pt-0">
        <div class="flex align-items-center">
          <mat-icon>person</mat-icon>
          <h2>
            Total Students
          </h2>
        </div>
      </mat-card-header>
      <mat-card-content class="flex h-100">
        <div class="flex h-100 w-100 justify-content-center align-items-center">
          <h2>
            {{ this.totalStudents }}
          </h2>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" class="mat-elevation-z3">
    <mat-card class="h-100 w-100">
      <mat-card-header class="pt-0">
        <h2>
          Late Attendance
        </h2>
      </mat-card-header>
      <mat-card-content class="flex h-100">
        <div class="flex h-100 w-100 justify-content-center align-items-center">
          <h2>
            {{ this.lateAttendance }}
          </h2>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" class="mat-elevation-z3">
    <mat-card class="h-100 w-100">
      <mat-card-header class="pt-0">
        <h2>
          On Time Attendance
        </h2>
      </mat-card-header>
      <mat-card-content class="flex h-100">
        <div class="flex h-100 w-100 justify-content-center align-items-center">
          <h2>
            {{ this.onTimeAttendance }}
          </h2>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" class="mat-elevation-z3">
    <mat-card class="h-100 w-100">
      <mat-card-header class="pt-0">
        <h2>
          Absent Students
        </h2>
      </mat-card-header>
      <mat-card-content class="flex h-100">
        <div class="flex h-100 w-100 justify-content-center align-items-center">
          <h2>
            {{ this.absentAttendance }}
          </h2>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" class="mat-elevation-z2" rowspan="2">
    <mat-card class="h-100 w-100">
      <mat-card-header class="flex flex-row">
        <div class="flex w-50 h-100 align-items-center" style="justify-content: start">
          <h3>
            Attendance Overview
          </h3>
        </div>
        <div class="flex w-100 h-100 align-items-center" style="justify-content: end;">
          <button mat-flat-button
                  [ngClass]="{'me-2 button-rectangle': true, 'active': _getAttendanceOverviewBy == 2}"
                  (click)="this.getAttendanceOverviewBy = 2;">Monthly
          </button>
          <button mat-flat-button
                  [ngClass]="{'me-2 button-rectangle': true, 'active': _getAttendanceOverviewBy == 1}"
                  (click)="this.getAttendanceOverviewBy = 1">Weekly
          </button>
          <button mat-flat-button
                  [ngClass]="{'me-2 button-rectangle': true, 'active': _getAttendanceOverviewBy == 0}"
                  (click)="this.getAttendanceOverviewBy = 0">Today
          </button>
        </div>
      </mat-card-header>
      <mat-card-content class="w-100 h-100">
        <div class="h-100" style="position: relative; width: 95%">
          <canvas id="attendanceOverviewChart">
            {{ attendanceOverviewChart }}
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" class="mat-elevation-z2" rowspan="2">
    <mat-card class="h-100 w-100">
      <mat-card-header class="flex flex-row">
        <h3>
          Real Time Attendance
        </h3>
      </mat-card-header>
      <mat-card-content class="h-100" style="width: 95%">
        <div class="h-100" style="position: relative; width: auto;">
          <canvas id="realTimeAttendanceChart" class="h-100 w-100">
            {{ realTimeAttendanceChart }}
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="8" class="mat-elevation-z2" rowspan="2">
    <mat-card class="h-100 w-100">
      <mat-card-header class="pt-0">
        <h3>
          Recent Activities
        </h3>
      </mat-card-header>
      <mat-card-content class="h-100" style="overflow: auto">
        <table mat-table [dataSource]="this.recentActivitiesTableDataSource" class="mat-elevation-z2"
               style="padding: 16px;">
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let attendance"> {{ attendance.name }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef> Grade</th>
            <td mat-cell *matCellDef="let attendance"> {{ attendance.grade }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef> Section</th>
            <td mat-cell *matCellDef="let attendance"> {{ attendance.section }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time</th>
            <td mat-cell *matCellDef="let attendance"> {{ attendance.time }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date</th>
            <td mat-cell *matCellDef="let attendance"> {{ attendance.date }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let attendance">
              <mat-chip color="primary" highlighted>
                {{ attendance.status }}
              </mat-chip>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
