<mat-toolbar style="background: #C21E56; color: white;">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav?.toggle()" style="color: white; margin-right: 8px;">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Attendance Management System</h1>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>person</mat-icon>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
