.announcement-content-card {
  height: 150px !important;
}

.upcoming-events-card {
  height: 250px !important;
}

.overflow-auto {
  overflow: auto !important;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
