@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
  margin: 0;
}

.sidenav-container {
  width: auto;
  height: 100%;
  margin: 0;
  border: 1px solid #bdbdbd;
  /* The background property is added to clearly distinguish the borders between drawer and main
     content */
  background: #fcfcfc;
}

.sidenav-content {
  padding: 16px;
  height: 100%;
}

.list-item-link {
  border: 0;
  border-radius: 6px;
}

.button-rectangle {
  border-radius: 4px !important;
}

.active {
  background-color: #8845d3 !important;
}

.h-90 {
  height: 90%;
}

.h-80 {
  height: 80%;
}
